
  .clockbox{
      display: flex;
      flex-direction: column;
  }

.clock-day:before {
    content: var(--timer-day);
  }
  .clock-hours:before {
    content: var(--timer-hours);
  }
  .clock-minutes:before {
    content: var(--timer-minutes);
  }
  .clock-seconds:before {
    content: var(--timer-seconds);
  }
  
  .clock-container body {
    background: linear-gradient(45deg, #1870ed 0, #f18f88 100%);
    font-family: "Montserrat", "sans-serif";
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .clock-container {
    margin-top: 150px;
    margin-bottom: 30px;
    /* background-image: linear-gradient( 179.4deg,  rgba(33,150,243,1) 1.8%, rgba(22,255,245,0.60) 97.1% ); */
    margin-left: 200px;
    border-radius: 0px;
    padding: 20px 0px;
    /* box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.15), 0 15px 90px 30px rgba(0, 0, 0, 0.25); */
    display: flex;
    max-width: 340px;
    margin-right: 100px;
    
  }
  .clock-col {
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    min-width: 90px;
    position: relative;
  }
  .clock-col:not(:last-child):before, .clock-col:not(:last-child):after {
    content: "";
    background-color: rgba(255, 255, 255, 0.582);
    height: 5px;
    width: 5px;
    border-radius: 50%;
    display: block;
    position: absolute;
    right: -21px;
    margin-top: -5px;
  }
  .clock-col:not(:last-child):before {
    top: 35%;
  }
  .clock-col:not(:last-child):after {
    top: 50%;
  }
  .clock-timer:before {
    color: #fff;
    font-size: 2.5rem;
    text-transform: uppercase;
  }
  .clock-label {
    color: rgba(255, 255, 255, 0.671);
    text-transform: uppercase;
    font-size:0.8rem;
    margin-top: 10px;
    
  }
  
  @media (max-width: 1000px) {

 
    .clock-container{
        position: fixed;
        margin:0 auto;
        top:10%;
    }
    .clock-timer:before {
        color: #fff;
        font-size: 2.2rem;
        text-transform: uppercase;
      }
      .clock-label {
        color: rgba(255, 255, 255, 0.671);
        text-transform: uppercase;
        font-size:0.8rem;
        margin-top: 15px;
        
      }
  
      .clock-col {
        text-align: center;
        margin-right: 2px;
        min-width: 100px;
        position: relative;
      }
      .clock-col:not(:last-child):before, .clock-col:not(:last-child):after {
        content: "";
        background-color: rgba(255, 255, 255, 0.582);
        height: 4px;
        width: 4px;
        border-radius: 50%;
        display: block;
        position: absolute;
        right: -13px;
        margin-top: -5px;
      }
    }