body, html {
  
  /* background-image: url(https://i.imgur.com/OjjGnsN.jpg); */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient( 179.4deg,  rgba(33,150,243,1) 1.8%, rgba(22,255,245,0.60) 97.1% );

 
}

/* 
h1{
    color: white;
    text-align: center;
}

.topnav p{
  display: inline;
  font-weight: bolder;
  font-size: 50px;
}

.plogo{
  color:white;
}
.klogo{
  color:#a4a4a4 !important;
}
 

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
/* .topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
} */

/* Change the color of links on hover */
/* .topnav a:hover {
background-color: #ddd;
color: black;
} */

/* Add a color to the active/current link */
/* .topnav a.active {
background-color: #4CAF50;
color: white;
} */

/* Right-aligned section inside the top navigation */
/* .topnav-right {
float: right;
} */


/* About me Page */
/* #aboutme{
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
} */
/* Projects Page */
/* .card {
  box-shadow: 0 4px 8px 0 rgba(7, 7, 7, 0.979);
  max-width: 420px;
  height: 520px;
  margin: auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
  
} */

/* .project-description{
  margin: 10px 35px;
  font-size: 17px !important;
  font-family: 'Montserrat', sans-serif;
}

.project-img{
    height:220px;
  
  
} */
/* 
#projectlink{
  padding: 15px 0px 15px 0px;
  
  bottom: 0px;

}
#projectlink a{
  color: white;
  text-decoration: none;
  margin: 15px;
}

#project-cards-row1{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
} */

/* #project-cards-row2{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    padding-bottom: 100px;
}
#projectheading{
  margin: auto;
  font-size: 20px;
  text-align: center;
  width: 900px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
 */
/* 
.techused{
    color: rgba(245, 70, 70, 0.829);
    font-weight: 900;
}

.card h1{
    background-color: teal;
    padding: 5px 0;
    margin: 0px 0px 30px 0px;
} */


.topnav {
  margin-left: -10px;
  margin-top: -10px;
   overflow: hidden;
 
 }
 /* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
  background-color: #ddd;
  color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
  background-color: #4CAF50;
  color: white;
  }
  
  /* Right-aligned section inside the top navigation */
  .topnav-right {
  float: right;
  }

body {
 
  font-family: "Fira Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-content {
  max-width: 1100px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.site-content__headline {
  font-weight: 200;
  color: #ffffff;
  font-size: calc(2vw + 10px);
}

.menu-icon {
  height: 30px;
  width: 30px;
  position: fixed;
  z-index: 2;
  left: 50px;
  top: 30px;
  cursor: pointer;
}


.nav {
  position: fixed;
  z-index: 1;
  margin-left: -10px;
  margin-top: -10px;

}
.nav:before, .nav:after {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(234, 234, 234, 0.466);
  z-index: -1;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transform: translateX(0%) translateY(-100%);
}
.nav:after {
  background-image: linear-gradient( 179.4deg,  rgba(33,150,243,1) 1.8%, rgba(22,255,245,0.60) 97.1% );

  transition-delay: 0s;
}
.nav:before {
  transition-delay: 0.1s;
}
.nav__content {
  position: fixed;
  top: 10%;
  transform: translate(0%, -50%);
  width: 100%;
  text-align: center;
  font-size: calc(2vw + 10px);
  font-weight: 250;
  cursor: pointer;
}
.nav__list-item {
  position: relative;
  display: inline-block;
  transition-delay: 0.8s;
  opacity: 0;
  transform: translate(0%, 100%);
  transition: opacity 0.2s ease, transform 0.3s ease;
  margin-right: 25px;
  color:white;
  font-weight: bolder;
}
.nav__list-item:before {
  content: "";
  position: absolute;
  background: #000000;
  width: 20px;
  height: 1px;
  top: 100%;
  transform: translate(0%, 0%);
  transition: all 0.3s ease;
  z-index: -1;
}
.nav__list-item:hover:before {
  width: 100%;
}

body.nav-active .menu-icon__line {
  background-color: #000;
  transform: translateX(0px) rotate(-45deg);
}
body.nav-active .menu-icon__line-left {
  transform: translateX(1px) rotate(45deg);
}
body.nav-active .menu-icon__line-right {
  transform: translateX(-2px) rotate(45deg);
}
body.nav-active .nav {
  visibility: visible;
}
body.nav-active .nav:before, body.nav-active .nav:after {
  transform: translateX(0%) translateY(0%);
}
body.nav-active .nav:after {
  transition-delay: 0.1s;
}
body.nav-active .nav:before {
  transition-delay: 0s;
}
body.nav-active .nav__list-item {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
}
body.nav-active .nav__list-item:nth-child(0) {
  transition-delay: 0.5s;
}
body.nav-active .nav__list-item:nth-child(1) {
  transition-delay: 0.6s;
}
body.nav-active .nav__list-item:nth-child(2) {
  transition-delay: 0.7s;
}
body.nav-active .nav__list-item:nth-child(3) {
  transition-delay: 0.8s;
}
body.nav-active .nav__list-item:nth-child(4) {
  transition-delay: 0.9s;
}

.nav__list a{
  font-size: 30px;
  margin-left: 11%;
  display: flex;

}

#wrapper{

  box-sizing:border-box;
  display:flex;
  align-items:center;
  justify-content:center;
  margin-bottom: 200px;
  
}
.my-super-cool-btn{
  position:relative;
  text-decoration:none;
  color:#fff;
  letter-spacing:1px;
  font-size:1.5rem;
  box-sizing:border-box;
  margin: 0px 10px;
}
.my-super-cool-btn-contact{
  position:relative;
  text-decoration:none;
  color:#fff;
  letter-spacing:1px;
  font-size:0.9rem;
  box-sizing:border-box;
  margin: 0px 10px;
}
.my-super-cool-btn span{
  position:relative;
  box-sizing:border-box;
  display:flex;
  align-items:center;
  justify-content:center;
  width:100px;
  height:100px;
}
.my-super-cool-btn-contact span{
  position:relative;
  box-sizing:border-box;
  display:flex;
  align-items:center;
  justify-content:center;
  width:100px;
  height:100px;
}
.my-super-cool-btn span:before{
  content:'';
  width:100%;
  height:100%;
  display:block;
  position:absolute;
  border-radius:100%;
  border:7px solid #f9fbfd;
  box-sizing:border-box;
  transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
  box-shadow: 0 30px 85px rgba(0,0,0,0.14), 0 15px 35px rgba(0,0,0,0.14);
}
.my-super-cool-btn-contact span:before{
  content:'';
  width:60%;
  height:60%;
  display:block;
  position:absolute;
  border-radius:100%;
  border:6px solid #f9fbfd;
  box-sizing:border-box;
  transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
  box-shadow: 0 30px 85px rgba(0,0,0,0.14), 0 15px 35px rgba(0,0,0,0.14);
}
.my-super-cool-btn:hover span:before{
  transform:scale(0.8);
  box-shadow: 0 20px 55px rgba(0,0,0,0.14), 0 15px 35px rgba(0,0,0,0.14);
}
.my-super-cool-btn-contact:hover span:before{
  transform:scale(0.8);
  box-shadow: 0 20px 55px rgba(0,0,0,0.14), 0 15px 35px rgba(0,0,0,0.14);
}
.my-super-cool-btn .dots-container{
  opacity:0;
  animation: intro 1.6s;
  animation-fill-mode: forwards;
}
.my-super-cool-btn-contact .dots-container{
  opacity:0;
  animation: intro 1.6s;
  animation-fill-mode: forwards;
}


#socials a{
  text-decoration: none;
  color: white;
  margin: 15px;
 
}

/* CSS PROJECT CARD*/
/* Give the document some structure. */

/* Create a responsive, centered, three-column grid. */
.card-container {
	align-items: start;
	display: grid;
	grid-gap: 56px;
	grid-template-columns: repeat(auto-fit, 300px);
	justify-content: center;
  margin: 0px 40px;
}



header {
	text-align: center;
  margin: 130px 40px 0px 40px;
  color: white;
  font-family: 'Montserrat';
  
}
footer {
	text-align: center;
  margin-top: 50px;
  color: white;
  font-family: 'Montserrat';
}
header h1{
  font-size: 40px;
  }

.projecttitle{
  text-align: center;
  font-size: 35px;
  color: white;
  font-family: 'Montserrat';
  margin-top: 60px;
  margin-bottom: -10px;

}

.card {
	margin-top: 40px;
  font-family: 'Montserrat';
  background-color: rgba(117, 193, 255, 0.884);
	border-radius: 5px;
  border: 5px rgba(255, 255, 255, 0.503) solid;
  box-shadow: 0px 0px 200px rgb(248, 248, 248);
	color: white;
	padding: 30px 20px;
	text-align: center;
  font-weight: bolder;
  font-size: 17px;
  min-height: 470px;
  max-height: 470px;
}

.card h1{
  font-weight: 800;
  font-size: 25px;
  color: rgba(27, 45, 94, 0.829);
  padding: 5px 0;
  margin: 15px 0px 15px 0px;
}


.fas {
	font-size: 50px;
}
.techused{
  color: rgba(27, 45, 94, 0.829);
  font-weight: 900;
}
#projectlink i{
  margin: 3px 15px;
  color: rgba(27, 45, 94, 0.829);
}






@media only screen and (max-width: 1000px) {


  /* body, html {
    height: 100%;
    background-image: none ;
    background-color: #333333 !important; */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg"); */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #photo{
    visibility: visible !important;
    margin: auto;
    margin-top: 40px;
    padding-bottom: 0px;
    margin-bottom: -10px;
    text-align: center;
  }

  .line{
    visibility: visible;
  }
  .plogo{
    font-size:30px !important;
  }
  .klogo{
    font-size: 30px !important;
  }

  .topnav-right a{
    font-size: 15px !important;
    padding: 5px 10px !important; 
  }

  .hero-text {
    left: 50%;
    top: 60%;
  }

  .hero-text h1{
    font-size: 35px !important;
  }

  .webdev{
    font-size: 20px !important;
  }

  #socials{
    display: flex;
    flex-direction: row !important;
    margin: auto !important;
    position: fixed;
    left: 15%;
  }

  #aboutme p{
    font-size: 15px;
    width: 300px;
  }
  #aboutme{
    margin-top: -200px;
  } */
/* Projects Page */

  /* h1{
    font-size: 25px;
  }

 

.card {
  box-shadow: 0 4px 8px 0 rgba(7, 7, 7, 0.979);
  max-width: 300px;
  height: 520px;
  margin: auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin-bottom: 30px;
  
}

.project-description{
  margin: 10px 35px;
  font-size: 14px !important;
  font-family: 'Montserrat', sans-serif;
}

.project-img{
    height:200px;
}

#projectlink{
  padding: 15px 0px 15px 0px;
 
}
#projectlink a{
  color: white;
  text-decoration: none;
  margin: 15px;
}

#project-cards-row1{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

#project-cards-row2{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding-bottom: 100px;
}


.techused{
    color: rgba(245, 70, 70, 0.829);
    font-weight: 900;
}

.card h1{
    background-color: teal;
    padding: 5px 0;
    margin: 0px 0px 30px 0px;
}

#projectheading{
  margin: auto;
  font-size: 12px;
  text-align: center;
  width: 200px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

} */
